<div class="@CssBuilder.Default("dropdown")
    .AddClass(CssClass)">
    @if (Header != null)
    {
        <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle"
            data-bs-toggle="dropdown" aria-expanded="false">
            @Header
        </a>
    }
    <ul class="dropdown-menu dropdown-menu-end text-small shadow">
        @ChildContent
    </ul>
</div>

@code {
    /// <summary>
    /// 下拉菜单头部内容。
    /// </summary>
    [Parameter]
    public RenderFragment? Header { get; set; }

    /// <summary>
    /// 下拉菜单内容。
    /// </summary>
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    /// <summary>
    /// 附加样式。
    /// </summary>
    [Parameter]
    public string? CssClass { get; set; }
}