@inherits ChildContentComponentBase

<a href="#" style="@StyleString" @attributes="AdditionalAttributes" class="@ClassString" data-bs-toggle="dropdown"
    aria-expanded="false">
    @ChildContent
</a>