@using Microsoft.AspNetCore.Components.Sections

<SectionContent SectionName="Breadcrumb">
    <Breadcrumb Provider="Account" style="font-size:larger;">
        <li class="breadcrumb-item"><a href="Account/Manage">账户管理</a></li>
        @ChildContent
    </Breadcrumb>
</SectionContent>

@code{
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}