@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@using GSites.Extensions.Identity

@inject SignInManager<User> SignInManager
@inject IdentityRedirectManager RedirectManager

@if (externalLogins.Length > 0)
{
    <form class="form-horizontal" action="Account/PerformExternalLogin" method="post">
        <AntiforgeryToken />
        <input type="hidden" name="ReturnUrl" value="@ReturnUrl" />
        @foreach (var provider in externalLogins)
        {
            <div class="item">
                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name"
                    title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
            </div>
        }
    </form>
}

@code {
    private AuthenticationScheme[] externalLogins = [];

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        externalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToArray();
    }
}
