@inherits LayoutComponentBase
@layout GSites.Components.Layout.MainLayout
@using GtCores.Components.Navigations

<h1>账户信息</h1>
<hr />
<div class="row">
    <div class="col-lg-3">
        <NavMenu />
    </div>
    <div class="col-lg-9">
        @Body
    </div>
</div>