@page "/Account/Manage/ResetAuthenticator"

@using Microsoft.AspNetCore.Identity
@using GSites.Extensions

@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager
@inject IdentityRedirectManager RedirectManager
@inject ILogger<ResetAuthenticator> Logger

<StatusMessage />
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>如果您重置了您的身份验证器密钥，您的身份验证器应用程序将无法工作，直到您重新配置它。</strong>
    </p>
    <p>
        此过程将禁用 2FA，直到您验证您的身份验证器应用程序。
        如果您未完成身份验证器应用程序的配置，您可能会失去对您账户的访问权限。
    </p>
</div>
<div>
    <form @formname="reset-authenticator" @onsubmit="OnSubmitAsync" method="post">
        <AntiforgeryToken />
        <button class="btn btn-danger" type="submit">重置身份验证器密钥</button>
    </form>
</div>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private async Task OnSubmitAsync()
    {
        var user = await UserManager.GetUserAsync(HttpContext.User);
        if (user is null)
        {
            RedirectManager.RedirectToInvalidUser(UserManager, HttpContext);
            return;
        }

        await UserManager.SetTwoFactorEnabledAsync(user, false);
        await UserManager.ResetAuthenticatorKeyAsync(user);
        var userId = await UserManager.GetUserIdAsync(user);
        Logger.LogInformation("User with ID '{UserId}' has reset their authentication app key.", userId);

        await SignInManager.RefreshSignInAsync(user);

        RedirectManager.RedirectToWithStatus(
            "Account/Manage/EnableAuthenticator",
            "您的身份验证器应用程序密钥已重置，您需要使用新密钥配置您的身份验证器应用程序。",
            HttpContext);
    }
}
