@using Microsoft.AspNetCore.Components.Sections
@inherits LayoutComponentBase

<div class="account">
    <div class="account-container">
        <section class="account-card">
            <div class="account-head">
                <h2>
                    <SectionOutlet SectionId="AccountSectionIdConstants.Header"></SectionOutlet>
                </h2>
                <hr />
            </div>
            <div class="account-body">
                @Body
            </div>
            <div class="account-footer">
                <SectionOutlet SectionId="AccountSectionIdConstants.Footer"></SectionOutlet>
            </div>
        </section>
    </div>
</div>