@page "/Account/ConfirmEmail"
@layout CoverLayout
@inject UserManager<User> UserManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>确认邮件</PageTitle>

<CoverMessage Header="确认邮件">
    <StatusMessage Message="@statusMessage" />
    <a class="alert-link" href="Account/Login">点击这里进行登录...</a>
</CoverMessage>

@code {
    private string? statusMessage;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromQuery]
    private string? UserId { get; set; }

    [SupplyParameterFromQuery]
    private string? Code { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (UserId is null || Code is null)
        {
            RedirectManager.RedirectTo("");
        }

        var user = await UserManager.FindByIdAsync(UserId);
        if (user is null)
        {
            HttpContext.Response.StatusCode = StatusCodes.Status404NotFound;
            statusMessage = $"加载用户失败：{UserId}";
        }
        else
        {
            var code = Encoding.UTF8.GetString(WebEncoders.Base64UrlDecode(Code));
            var result = await UserManager.ConfirmEmailAsync(user, code);
            statusMessage = result.Succeeded ? "谢谢确认你的邮件信息！" : "确认邮件信息失败！";
        }
    }
}
