@page "/Account/ForgotPasswordConfirmation"
@layout CoverLayout

<PageTitle>忘记密码确认信息</PageTitle>

<CoverMessage Header="忘记密码确认信息">
    请查看你的电子邮件以重置你的密码！<a class="alert-link" href="Account/ResendEmailConfirmation">点击重新发送邮件确认信息</a>
</CoverMessage>