@page "/Account/ResetPasswordConfirmation"
@layout CoverLayout

<PageTitle>重置密码确认信息</PageTitle>

<CoverMessage Header="重置密码确认信息" Type="BsType.Success">
    你的密码已经重置， <a class="alert-link" href="Account/Login">请点击进行重新登录</a>.
</CoverMessage>