.sidebar-header {
    background: transparent;
    color: #ced4da;
    font-size: .75rem;
    padding: 1.5rem 1.5rem .375rem;
}

.sidebar-item ::deep .sidebar-link {
    color: rgba(226, 232, 238, .5);
    cursor: pointer;
    display: block;
    font-weight: 400;
    padding: .625rem 1.625rem;
    position: relative;
    text-decoration: none;
    transition: color 75ms ease-in-out;
}

.sidebar-item.active ::deep .sidebar-link:hover,
.sidebar-item.active ::deep>.sidebar-link {
    color: #e2e8ee;
}

.sidebar-item ::deep .sidebar-link:hover {
    color: rgba(226, 232, 238, .75);
}

.sidebar-item ::deep a.sidebar-link i,
.sidebar-item ::deep a.sidebar-link svg {
    color: rgba(226, 232, 238, .5);
    margin-right: .75rem;
}

.sidebar-item.active ::deep .sidebar-link:hover i,
.sidebar-item.active ::deep .sidebar-link:hover svg,
.sidebar-item.active ::deep>.sidebar-link i,
.sidebar-item.active ::deep>.sidebar-link svg {
    color: #e2e8ee;
}

.sidebar-item ::deep .badge {
    position: absolute;
    right: 20px;
    top: 12px;
}

.sidebar-item ::deep .sidebar-dropdown .sidebar-link {
    color: #adb5bd;
    font-weight: 400;
    padding: .55rem 1.5rem .55rem 3.7rem;
}

.sidebar-item ::deep .sidebar-dropdown .sidebar-item.active .sidebar-link {
    color: #e2e8ee;
    font-weight: 400;
}

.sidebar-item ::deep [data-bs-toggle=collapse] {
    position: relative;
}

.sidebar-item ::deep [data-bs-toggle=collapse]:before {
    border: solid;
    border-width: 0 .1rem .1rem 0;
    content: " ";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.7rem;
    top: 1.3rem;
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

.sidebar-item ::deep [aria-expanded=true]:before,
.sidebar-item ::deep [data-bs-toggle=collapse]:not(.collapsed):before {
    transform: rotate(-135deg);
    top: 1.4rem;
}