.navbar-toggler {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: var(--bs-body-color);
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(var(--bs-emphasis-color-rgb), 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28var(--bs-emphasis-color-rgb), 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(var(--bs-emphasis-color-rgb), 0.1);
}

    .navbar-toggler:checked {
        background-color: rgba(var(--bs-emphasis-color-rgb), 0.5);
    }

.navbar {
    padding-bottom: 0;
}

.navbar-brand {
    font-size: 1.1rem;
    height: 4.5rem !important;
    margin-right: 0.5rem !important;
    padding: 0 !important;
}

    .navbar-brand ::deep .navbar-avatar {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 100%;
        overflow: hidden;
        margin: 0 0.5rem;
    }

    .navbar-brand ::deep .navbar-label {
        display: flex;
        flex-direction: column;
        line-height: 1.5;
    }

    .navbar-brand ::deep .label-main {
        font-size: 1rem;
        font-weight: bold;
    }

    .navbar-brand ::deep .label-secondary {
        font-size: 0.75rem;
    }

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.25rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep .nav-link, .navbar-brand {
        color: var(--bs-body-color);
        background: none;
        border: none;
        border-radius: 4px;
        height: 2.2rem;
        display: flex;
        align-items: center;
        line-height: 2.2rem;
        width: 100%;
        padding: 0 0.75rem;
        position: relative;
    }

    .nav-item ::deep a.active {
        background-color: rgba(var(--bs-emphasis-color-rgb),0.1);
        text-decoration: none;
    }

        .nav-item ::deep a.active:before {
            background-color: var(--bs-primary);
            content: '';
            width: 4px;
            height: 1rem;
            left: 0;
            position: absolute;
            border-radius: 5px;
        }

    .nav-item ::deep .nav-link:not(.active):hover, .navbar-brand:hover {
        background-color: rgba(var(--bs-emphasis-color-rgb),0.05);
        color: var(--bs-body-color);
        text-decoration: none;
    }

    .nav-item ::deep .nav-link > .bi:first-of-type {
        margin-right: 0.5rem;
    }

    .nav-item ::deep .nav-link > .badge {
        position: absolute;
        right: 0.75rem;
    }

.nav-scrollable {
    display: none;
    overflow-y: auto;
    height: calc(100vh - 5rem);
    flex-direction: column;
    justify-content: space-between;
}

.navbar-toggler:checked ~ .nav-scrollable {
    display: flex;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .nav-scrollable {
        /* Never collapse the sidebar for wide screens */
        display: flex;
    }
}

@media(max-width:640px) {
    .nav-scrollable {
        position: fixed;
        width: 100%;
        z-index: 1000;
        background: var(--bs-body-bg);
    }
}
