@inherits GSites.Extensions.ComponentBase

<span @attributes="AdditionalAttributes">@ChildContent</span>

@code{
    /// <summary>
    /// 椭圆。
    /// </summary>
    [Parameter]
    public bool Pill { get; set; }

    /// <summary>
    /// 颜色模式。
    /// </summary>
    [Parameter]
    public ColorType Color { get; set; } = ColorType.Primary;

    protected override string? ClassString => CssBuilder.Default(Class)
        .AddClass("badge")
        .AddClass($"bg-{Color.ToLower()}")
        .AddClass("rounded-pill", Pill);
}