@using GSites.Extensions.Themes
@using GtCores.IdentityCore.Settings
@inject ISettingsManager SettingsManager

<body @attributes="AdditionalAttributes">
    @ChildContent
</body>

@code {
    /// <summary>
    /// 模板名称。
    /// </summary>
    [Parameter]
    public string? Theme { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrWhiteSpace(Theme))
        {
            var settings = await SettingsManager.GetSettingsAsync<ThemeSettings>();
            Theme = settings?.Name;
        }
        SetAttribute("data-bs-theme", Theme);
    }
}