@using GSites.Extensions.Themes
@using GtCores.IdentityCore.Settings
@inject ISettingsManager SettingsManager

<body @attributes="AdditionalAttributes">
    @ChildContent
</body>

@code {
    [CascadingParameter]
    private ElementSettings ElementSettings { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        SetAttribute("data-bs-theme", ElementSettings.ThemeName);
    }
}