@using GSites.Extensions.Themes
@using GtCores.IdentityCore.Settings
@inject ISettingsManager SettingsManager

<body @attributes="AdditionalAttributes">
    <CascadingValue Value="ThemeSettings">
        @ChildContent
    </CascadingValue>
</body>

@code {

    private ThemeSettings ThemeSettings { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        ThemeSettings = await SettingsManager.GetSettingsAsync<ThemeSettings>();
        SetAttribute("data-bs-theme", ThemeSettings.Name);
    }
}