@using GSites.Extensions.Menus
@inject NavigationManager NavigationManager
@inject IMenuDataProviderFactory Factory

<CascadingValue Value="this">
    <nav @attributes="AdditionalAttributes">
        @foreach (var item in _items)
        {
            <NavMenuItem Item="item" Level="1" />
        }
        @ChildContent
    </nav>
</CascadingValue>

@code {
    /// <summary>
    /// 显示模式。
    /// </summary>
    [Parameter]
    public DisplayMode DisplayMode { get; set; }

    /// <summary>
    /// 当前激活菜单标识。
    /// </summary>
    [Parameter]
    public string? Current { get; set; }

    /// <summary>
    /// 菜单提供者。
    /// </summary>
    [Parameter]
    public string Provider { get; set; } = MenuDataProviderBase.DefaultProviderName;

    /// <summary>
    /// 当前样式名称。
    /// </summary>
    protected override ClassName? ClassName => "nav flex-column";

    private IEnumerable<GSites.Extensions.Menus.NavMenuItem> _items = default!;
    private GSites.Extensions.Menus.NavMenuItem? _current;
    protected override void OnInitialized()
    {
        var menu = Factory.GetNavMenuItems(Provider);
        _items = menu.OrderBy(m => m.Priority).ToList();
        Current ??= NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        menu.TryGetMenuItem(Current, out _current);
    }

    internal bool IsCurrent(GSites.Extensions.Menus.NavMenuItem item)
    {
        var current = _current;
        while (current?.IsRoot == false)
        {
            if (current.Id == item.Id)
                return true;
            current = current.Parent;
        }
        return false;
    }

    internal void OnActivedCurrent(GSites.Extensions.Menus.NavMenuItem current)
    {
        if (current != _current)
        {
            Current = current.Id;
            _current = current;
            StateHasChanged();
        }
    }
}