@using GSites.Extensions.Menus
@inject NavigationManager NavigationManager
@inject IMenuDataProviderFactory Factory
@inherits GSiteContentComponentBase

<CascadingValue Value="this">
    <nav class="@ClassName">
        @foreach (var item in _items)
        {
            <NavMenuItem Item="item" Level="1" />
        }
        @ChildContent
    </nav>
</CascadingValue>

@code {
    /// <summary>
    /// 显示模式。
    /// </summary>
    [Parameter]
    public DisplayMode DisplayMode { get; set; }

    /// <summary>
    /// 菜单提供者。
    /// </summary>
    [Parameter]
    public string Provider { get; set; } = MenuDataProviderBase.DefaultProviderName;

    protected override void BuildClassName(ClassName className)
    {
        className.AddClass("nav flex-column");
    }

    /// <summary>
    /// 组件上下文。
    /// </summary>
    [CascadingParameter]
    public ComponentContext Context { get; set; } = default!;

    private IEnumerable<GSites.Extensions.Menus.NavMenuItem> _items = default!;
    private GSites.Extensions.Menus.NavMenuItem? _current;
    private NavMenuItemCollection menu = default!;
    protected override void OnInitialized()
    {
        menu = Factory.GetNavMenuItems(Provider);
        _items = menu.OrderBy(m => m.Priority).ToList();
    }

    protected override void OnParametersSet()
    {
        var currentId = Context[Provider]?.ToString() ?? NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        menu.TryGetMenuItem(currentId, out _current);
    }

    internal bool IsCurrent(GSites.Extensions.Menus.NavMenuItem item)
    {
        var current = _current;
        while (current?.IsRoot == false)
        {
            if (current.Id == item.Id)
                return true;
            current = current.Parent;
        }
        return false;
    }

    internal void OnActivedCurrent(GSites.Extensions.Menus.NavMenuItem current)
    {
        if (current != _current)
        {
            _current = current;
            StateHasChanged();
        }
    }
}