@implements ITab
@inherits GSiteContentComponentBase

<li class="@ClassName">
    <a @onclick="ActivateTab" class="nav-link @TitleClass" role="button">
        @Title
    </a>
</li>

@code {
    [CascadingParameter]
    private TabSet? ContainerTabSet { get; set; }

    /// <summary>
    /// 标题。
    /// </summary>
    [Parameter]
    public string? Title { get; set; }

    private string? TitleClass => ContainerTabSet?.ActiveTab == this ? "active" : null;

    protected override void OnInitialized()
    {
        ContainerTabSet?.AddTab(this);
    }

    private void ActivateTab()
    {
        ContainerTabSet?.SetActiveTab(this);
    }
}
