@using GSites.Extensions.Themes
@using GtCores.IdentityCore.Settings
@using Microsoft.JSInterop
@inject IJSRuntime JS
@inject ISettingsManager SettingsManager
<script type="module" src="@Assets["_content/GSites.Extensions/jscore.js"]"></script>

<div class="alert alert-danger">
    value:  @themeName
</div>
@code {
    private string? themeName;

    protected override async Task OnInitializedAsync()
    {
        var settings = await SettingsManager.GetSettingsAsync<ThemeSettings>();
        themeName = settings?.Name;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var jscore = new JSCore(JS);
            await jscore.SetThemeName(themeName);
        }
    }
}