@page "/home/analytics"

<PageTitle>Analytics</PageTitle>

<h1>Hello, Analytics!</h1>

Welcome to your new app.
<TabSet>
    <Tab Title="基础">
        基础配置
    </Tab>
    <Tab Title="高级">
        高级配置
    </Tab>
    <Tab Title="其他">
        其他配置
    </Tab>
</TabSet>